.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__texto {
    font-size: 18px;
    margin-left: 0.5em;
}

.navegacao {
    display: flex;
    margin-left: 6em;
    margin-right: auto;
}

.navegacao-link {
    text-decoration: none;
    padding-left: 1em;
}

.navegacao-texto {
    color: var(--cinza);
}

.botao {
    font-family: var(--fonte-principal);
    border-style: none;
    color: var(--cinza);
    padding: 0.7em 1em;
}

.botao:hover {
    cursor:pointer;
}

.botao-entrar {
    background-color: var(--cor-de-fundo);
}

.botao-cadastrar {
    background-color: var(--vermelho);
    color: var(--cor-de-fundo);
    border-radius: 8px;
}

/* Teste */