header {
    background: #BBBBBB;
    padding: 20px;
}

.caixa {
    /* Utilizando o "relative", o absolute do nav vai ser em relação ao container .caixa*/
    position: relative;
    width: 940px; /* 940px é um tamanho frequentemente utilizado */
    margin: 0 auto;
}

nav {
    /* "absolute" consegue posicionar o elemento em relação a qualquer lugar da página*/
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /* Espaçamento para a esquerda de 15 px */
}

nav a {
    /* Transforma o texto em maiúsculo */
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%; /* 30% + 30% + 30% + 9% == 99% de largura utilizada*/
    padding: 30px 20px;
    box-sizing: border-box; /* Antes era 99% de largura + os pixels do padding, depois do border-box o pixel está incluso na porcentagem */ 
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

/* Primeiro parágrafo da lista */
.produto-descricao {
    font-size: 18px;
}

/* Segundo parágrafo da lista */
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}