body {
    /* Usando a Montserrat, e como alternativa sans-serif*/
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px;
}

.caixa {
    /* Utilizando o "relative", o absolute do nav vai ser em relação ao container .caixa*/
    position: relative;
    width: 940px; /* 940px é um tamanho frequentemente utilizado */
    margin: 0 auto;
}

nav {
    /* "absolute" consegue posicionar o elemento em relação a qualquer lugar da página*/
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /* Espaçamento para a esquerda de 15 px */
}

nav a {
    /* Transforma o texto em maiúsculo */
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* Hover é uma Pseudo-Classe / Passar o mouse por cima do elemento */
/* Pseudo-classe é uma palavra adicionada a seletores que especifica um estado especial do elemento selecionado */
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

/* Ao passar o mouse por cima */
.produtos li:hover {
    border-color: #C78C19
}

/* Ao clicar com o mouse */
.produtos li:active {
    border-color: #088C19;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%; /* 30% + 30% + 30% + 9% == 99% de largura utilizada*/
    padding: 30px 20px;
    box-sizing: border-box; /* Antes era 99% de largura + os pixels do padding, depois do border-box o pixel está incluso na porcentagem */ 
    border: 2px solid #000000;
    border-radius: 10px;
}

/* Quando o mouse passar por cima do item => alteramos o h2 */
.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

/* Primeiro parágrafo da lista */
.produto-descricao {
    font-size: 18px;
}

/* Segundo parágrafo da lista */
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

form {
    margin: 40px 0px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px; /* topo; horizontal; inferior */
}

.input-padrao {
    display: block;
    margin: 0 0 20px; /* topo; horizontal; inferior */
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

/* Hierarquia no CSS: Id (100), Classe (10), Seletor (1); Ex: form p {} = 1 + 1, mais for que somente p {} = 1*/ 
/* inline-style é mais forte que os demais */

.enviar {
    width: 40%;
    padding: 15px 0px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    /* "transition:" deixa a transição de cor mais suave*/
    transition: 1s all;
    /* Transforma o mouse na mãozinha */
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    /* Aumenta todos os elementos dentro do botão proporcionalmente em 20% com o "transform: scale(1.2)" */
    /*transform: scale(1.2);*/
    /* Roda o botão em tantos graus com "rotate(xdeg)"*/ 
    transform: /*rotate(360deg)*/ scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS da página inicial */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em; /* Duas vezes o tamanho base */
    margin: 0 0 1em; /* Espaçamento inferior de 1em (que na verdade é 2em = 30px)*/
    /* Clear limpa o float*/
    clear: left;
}

/* Estiliza a primeira letra do texto
.titulo-principal:first-letter {
    font-weight: bold;
}*/

/* Adicionando um conteúdo somente em css na página
.titulo-principal:before {
    content: "["
}

.titulo-principal:after {
    content: "]"
}*/

/* Estiliza a primeira linha do parágrafo
p:first-line {
    font-style: italic;
}*/

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    /* float: é como se o elemento descolasse da tela mas ainda deixasse sua sombra 
    sem que nenhum outro elemento possa ocupar, dessa forma eles contornam a imagem*/
    float: left;
    margin: 0 20px 20px 0;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa {
    padding: 3em 0;
    /* Começou da cor do Principal e terminou com a cor de Benefícios */
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    list-style: ;
}

.itens {
    line-height: 1.5em;
}

/* De todos os filhos <li> vai pegar o primeiro deles */ 
/* last-child e também nth-child (numero do elemento) */
/* nth-child(2n) = todos os elementos pares */
.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "🟊 "
}

.img-beneficios {
    width: 60%;
}


.video {
    width: 560px;
    margin: 2em auto;
}
